#wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#ins-name {
  font-weight: bold;
  font-size: 1.5rem;
}

#ins-name-extra {
  color: grey;
  font-size: 0.7rem;
  margin-left: 0.3rem;
}

#ins-form {
  border-style: solid;
}

#ins-form-category {
  font-weight: bold;
}

#bar {
  color: #ff6f64;
  margin-right: 0.2rem;
  font-size: 0.9rem;
  
}

#category {
  font-size: 0.8rem;
  
}