#wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#logo-wrapper {
  margin-top: 3rem;
}

#ins-name {
  font-weight: bold;
  font-size: 2rem;
}

#ins-name-extra {
  color: grey;
  font-size: 0.7rem;
  margin-left: 0.3rem;
}

#ins-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 16px;
  box-shadow: 1px 2px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;

}

#ins-form-category {
  font-weight: bold;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

#bar {
  color: #ff6f64;
  margin-right: 0.2rem;
  font-size: 0.9rem;
}

#category {
  font-size: 0.8rem;
}

.form-control {
  width: 336px;
  height: 45px;
  margin: 4px 0 0;
  padding: 12px 8px 13px;
  border-radius: 8px;
  border: solid 1px #dfdfe3;
  background-color: #ffffff;
}

#ins-des-right {
  text-align: right;
}

.form-label {
  font-size: 0.8rem;
  margin-bottom: 0;
}

#ins-text {
  font-size: 1rem;
  font-weight: bold;
}